body {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas {
  width: 500;
  height: 680px;
  left:0;
  top:0;
}
#stage {
  width:500px;
  height:680px;
  position:relative;
}

#canvas {
  position: absolute;
  z-index: 1;
}

#background {
  z-index: 0;
  position: absolute;
}
h1 {
  margin-bottom: -20px;
}

.board {
  display: flex;
}

.logo__title {
  height: 50px;
}

.board__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  margin-bottom: 10px;
}

.board__logo__speed {
  height: 30px;
  margin-right: 10px;
}

.board__logo__score {
  height: 30px;
  margin-right: 10px;
}

.screen {
  display: flex;
  margin-left:35px;
}

#level {
  margin-right: 10px;
  color: white; 
}

#score {
  margin-right: 10px;
  color: white;
}

#game-over {
  margin-top: -20px;
  margin-bottom: 0px;
  visibility: hidden;
  color: #f15c5c;
}
