@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

#login{    /*로그인창 입력란 폰트*/
    font-family: "NanumSquare";
    color:#000517;
    font-size:20px;
}


.login-box{ /*로그인창 박스*/
    padding: 10px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30px; /* Increased height to accommodate checkbox and text */
    background-color: #f0f4ff;
    border-radius: 40px;
    transition: 0.4s;
    width:690px;
    display: flex; /* 로그인 칸 내부 요소를 가로로 정렬 */
    align-items: center; /* 로그인 칸 내부 요소를 수직으로 정렬 */
    justify-content: space-between; /* 로그인 칸 내부 요소를 좌우로 정렬 */
    white-space: nowrap;
}
.login-btn{ /*로그인 버튼*/
    font-family: "NanumSquare";
    color:#fafbff;
    font-size:20px;
    border:none;
    width: 100px;
    height: 30px;
    background-color: #b6b6e7;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  /*버튼태그로 바꾸면 지워도 됨*/
}
.login-txt{ /*로그인창 입력란*/
    display: flex;
    padding: 0;
    width: 240px;
    border:none;
    background: none;
    outline: none;
    float: left;
    line-height: 30px;
    transition: .4s;
    padding-left: 5px;
}
.login-checkbox-container { /*로그인창 체크박스 & 텍스트 묶음*/
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.login-checkbox-input { /*로그인창 체크박스*/
    margin-right: 5px;
}
.login-checkbox-label { /*로그인창 체크박스 옆 텍스트*/
    font-family: "NanumSquare";
    color: #000517;
    font-size: 20px;
    position: relative;
    top: -8px;
}
/* 체크박스 디자인 */
.checkbox-wrapper-30 .checkbox {
    --bg: #f9f7ff;
    --brdr: #d1d6ee;
    --brdr-actv: #1e2235;
    --brdr-hovr: #bbc1e1;
    --dur: calc((var(--size, 2)/2) * 0.6s);
    display: inline-block;
    width: calc(var(--size, 1) * 22px);
    position: relative;
    top: -3px;
}
  .checkbox-wrapper-30 .checkbox:after {
    content: "";
    width: 100%;
    padding-top: 100%;
    display: block;
}
  .checkbox-wrapper-30 .checkbox > * {
    position: absolute;
}
  .checkbox-wrapper-30 .checkbox input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    background-color: var(--bg);
    border-radius: calc(var(--size, 1) * 4px);
    border: calc(var(--newBrdr, var(--size, 1)) * 1px) solid;
    color: var(--newBrdrClr, var(--brdr));
    outline: none;
    margin: 0;
    padding: 0;
    transition: all calc(var(--dur) / 3) linear;
}
  .checkbox-wrapper-30 .checkbox input:hover,
  .checkbox-wrapper-30 .checkbox input:checked {
    --newBrdr: calc(var(--size, 1) * 2);
}
  .checkbox-wrapper-30 .checkbox input:hover {
    --newBrdrClr: var(--brdr-hovr);
}
  .checkbox-wrapper-30 .checkbox input:checked {
    --newBrdrClr: var(--brdr-actv);
    transition-delay: calc(var(--dur) /1.3);
}
  .checkbox-wrapper-30 .checkbox input:checked + svg {
    --dashArray: 16 93;
    --dashOffset: 109;
}
  .checkbox-wrapper-30 .checkbox svg {
    fill: none;
    left: 0;
    pointer-events: none;
    stroke: var(--stroke, var(--border-active));
    stroke-dasharray: var(--dashArray, 93);
    stroke-dashoffset: var(--dashOffset, 94);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    top: 0;
    transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}
.checkbox-wrapper-30 .checkbox svg,
.checkbox-wrapper-30 .checkbox input {
    display: block;
    height: 100%;
    width: 100%;
}
.create-id{ /*회원가입*/
    text-align: center;
    font-family: "NanumSquare";
    font-size: 18px;
    color: #fafbff;
    padding: 0;
    width: 100px;
    border:none;
    background: none;
    outline: none;
    position: absolute;
    top: 65%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
}


::placeholder{
    font-family: "NanumSquare";
    color:#000517;
    font-size:20px;
}

@media screen and (max-height: 850px){
    .login-box{
        top: 65%;
    }
    .create-id{
        top: 80%;
    }
}