@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

footer{
    font-family: "NanumSquare";
    width: 100%;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

.copyright {    /*저작권 칸*/
    padding: 12px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.copyright-text {   /*저작권 표시글*/
    color: #fdfbff;
}

/*화면 제일 밑칸*/
.row-div{
    padding:10px;
    margin:0;
    display:block;
}
.row-ment{
    margin-bottom:13px;
    font-size:13px;
    vertical-align:super;
}
.ment-f-a{
    text-decoration:none;
}
.ment-f{
    margin-bottom:13px;
    font-size:13px;
    vertical-align:super;
}
.ment-f::after{
    display: inline-block;
    width: 1px;
    height: 11px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: 0;
    content: '';
}

.default-theme{
    .copyright {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
    .copyright-text {
        color: #ffffff;
    }
    .row-ment{
        color:#ffffff;
    }
    .ment-f-a{
        color:#ffffff;
    }
    .ment-f{
        color:#ffffff;
    }
    .ment-f::after{
        background: #ffffff;
    }
}
.dark-theme{
    .copyright {
        border-top: 1px solid #afafaf;
        border-bottom: 1px solid #afafaf;
    }
    .copyright-text {
        color: #afafaf;
    }
    .row-ment{
        color:#afafaf;
    }
    .ment-f-a{
        color:#afafaf;
    }
    .ment-f{
        color:#afafaf;
    }
    .ment-f::after{
        background: #afafaf;
    }
}
.original-theme{
    .copyright {
        border-top: 1px solid #8d8f93;
        border-bottom: 1px solid #8d8f93;
    }
    .copyright-text {
        color: #8d8f93;
    }
    .row-ment{
        color:#8d8f93;
    }
    .ment-f-a{
        color:#8d8f93;
    }
    .ment-f{
        color:#8d8f93;
    }
    .ment-f::after{
        background: #8d8f93;
    }
}
.labour-theme{
    .copyright {
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
    }
    .copyright-text {
        color: #ffffff;
    }
    .row-ment{
        color:#ffffff;
    }
    .ment-f-a{
        color:#ffffff;
    }
    .ment-f{
        color:#ffffff;
    }
    .ment-f::after{
        background: #ffffff;
    }
}