@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.main-container{    /*메인창 묶음*/
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
}
.main-blank{    /*네이게이션과 메인창 사이 여백*/
    width: 100%;
    height: 150px;
    display: flex;
}
.introduce-title{
    font-size: 40px;
    font-family:"NanumSquare";
    font-weight:400;
    margin-bottom:0;
    color:#fdfbff;
    margin-left:30px;
}
.dis-line{
    height:1px;
    background-color:#fdfbff;
    margin-bottom:20px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
}
.menu-bar{  /*소개창 메뉴바*/
    display:flex;
    margin-left:5%;
}
.menu-choice {  /*소개창 메뉴바 선택란*/
    color: #1e2235;
    background-color: #e3cdff;
    border: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: "NanumSquare";
    display: block;
    padding: 0.5rem 1rem;
    width: 100px;
    text-align: center;
    text-decoration: none;
    box-sizing: content-box;
    font-size: 18px;
    margin-right:5px;
}
.menu-choice.now-choice {
    background-color: #fdfbff;
    border-bottom: 0px;
    color: #7e68eb;
}

@media screen and (max-width: 1200px){
    .main-container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu-bar{
        margin-left:10px;
    }
}

.row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left:20px;
    margin-right:20px;
}

.col-md-7 {
    flex: 0 0 62%;
    max-width: 62%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.sub-container{
    margin-left: 5%;
    margin-right: 5%;
    background-color:#fdfbff;
}
.sub-container h2{
    font-family:"NanumSquare";
    font-size: 25px;
}

@media screen and (max-width: 1200px){
    .sub-container{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.theme-setting{
    display:flex;
    margin-left: 10px;
}

.theme-choice{
    flex-direction: column;
    display:inline-flex;
    margin-bottom:5%;
    align-items: center;
    margin-left: 10px;
    color: black;
}

.now-theme{
    border: 5px solid #fff694;
}

.theme-item{
    text-align: center;
    align-items: center;
    font-family:"NanumSquare";
    margin-bottom:10px;
}