@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

.sub-container{ /*학사일정 박스*/
    width: 32%;
    height: 480px;
    background-color: #fdfbff;
    border-radius: 15px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.09);
}
.main-container{    /*메인창 묶음*/
    display: flex;
    flex-direction: column;
}
.first-container{   /*학사일정, 청원·제안, 프로필 묶음*/
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
}
.second-container{   /*학사일정, 청원·제안, 프로필 묶음*/
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main-blank{    /*네이게이션과 메인창 사이 여백*/
    width: 100%;
    height: 180px;
    display: flex;
}
.menu-icon{  /*아이콘*/
    height:40px;
    vertical-align:sub;
    display:inline-block;
    padding-left:20px;
    position:relative;
    top:15px;
}
.menu-title{ /*제목*/
    font-family: "NanumSquare";
    color: black;
    font-size: 25px;
    padding: 15px;
    padding-left: 5px;
    display: inline-block;
    margin: 0;
    font-weight: 700;
    position:relative;
    top:8px;
}
.right-arrow{   /*더보기 칸*/
    float:right;
    margin-top:18px;
    margin-right:7px;
}
.right-arrow-img{   /*더보기 칸 이미지*/
    width:40px;
}
.small-line{    /*제목 밑에 선*/
    height: 2px;
    background-color: #b194e0;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 5px;
}


@media screen and (max-width: 1200px){
    .first-container{
        margin-left: 10px;
        margin-right: 10px;
    }
    .second-container{
        margin-left: 10px;
        margin-right: 10px;
    }
}

.board-box{
    background-color: #ded2ff;
    height: 60px;
    width: clac(100%-20px);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    vertical-align: middle;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.board-title{
    font-family: "NanumSquare";
    font-size: 20px;
    display: inline;
    color: black;
    margin-left: 10px;
}
.board-nickname{
    font-family: "NanumSquare";
    font-size: 16px;
    float: right;
    margin-right: 10px;
    display: inline;
    color: rgb(87, 52, 131);
}
.board-date{
    font-size: 13px;
    color: rgb(118, 92, 151);
    float: right;
}
.board-list{
    margin-top: 10px;
    max-height: 390px;
    overflow-y: auto;
}